# Dependency directories
node_modules
**/node_modules
logs

# Database
*.db
*.sqlite
powerwall.db
backend/powerwall.db
backend/*.db
backend/powerwall*.db
backend/node_modules
frontend/node_modules
backend/logs

# Secrets and Config
.env
.env.local
**/.env
**/.env.local
config/
frontend/.env.local
backend/.env

# Git and IDE
.git
.gitignore
.vscode
.idea

# Build logs and temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
EOF